{{ include('partials/main.html.twig') }}
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}PureCarat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="PureCarat" name="description" />
        <meta content="MV" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{ base_url }}/assets/favicon.png">
        {{ include('partials/head.html.twig') }}
    </head>
    <body>
        {{ include('partials/menu.html.twig') }}
        <main {% if isCategoryPage %} class="single-item-page"{% endif %}>
            {% block body %}{% endblock %}
        </main>
        {{ include('partials/footer.html.twig') }}
    </body>
</html>